**/node_modules
**/.DS_Store
packages/api/dist/*
packages/client/dist/*
**/.tsbuildinfo
NOTES.md
**/.env
.cert/
lerna-debug.log
*.lerna_backup
packages/api/coverage
!packages/overlay-engine/dist/*
!packages/fgb-source/dist/*