.LayerEditor input[type="number"]:hover::-webkit-inner-spin-button,
.LayerEditor input[type="number"]:hover::-webkit-outer-spin-button,
.LayerEditor input[type="number"]:focus::-webkit-inner-spin-button,
.LayerEditor input[type="number"]:focus::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin: 0;
  opacity: 0.4;
}

.LayerEditor input::placeholder {
  @apply text-gray-400;
}

.LayerEditorPalette [data-state="checked"] {
  @apply bg-black bg-opacity-30 border border-blue-500;
}

.LayerEditorPalette [data-highlighted] {
  @apply bg-blue-600;
}

.PaletteSelectContent {
  max-height: var(--radix-select-content-available-height);
}

.GUIEditorNumberInput input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.GUIEditorNumberInput input[type="number"] {
  -moz-appearance: textfield;
}
