/* .prosemirror-body h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.prosemirror-body h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 4px 0px;
} */

.prosemirror-body.required [data-question="yes"]:after {
  content: "*";
  margin-left: 2px;
  opacity: 0.5;
}

.prosemirror-body.required [data-question="yes"].empty-node:after {
  content: none;
}

.prosemirror-body div[contenteditable].ProseMirror {
  border: none;
  outline: none;
}

.prosemirror-body.forum-post div[contenteditable].ProseMirror {
  /* min-height: 300px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  @apply flex-1;
}

.forum-post .ProseMirror-menubar-wrapper {
  @apply flex flex-col-reverse border-b border-black border-opacity-20;
}

.forum-post .ProseMirror-menubar {
  border-bottom: none;
  @apply border-t border-gray-200 text-black whitespace-nowrap pt-1.5 bg-gray-50 bg-opacity-50 pb-1;
}

.forum-post .ProseMirror-menu-active {
  @apply bg-gray-200;
}

/* .prosemirror-body a {
  text-decoration: underline;
}

.prosemirror-body ul,
.prosemirror-body ol {
  margin: 5px 20px;
  list-style: disc;
} */

.ProseMirror .empty-node::before {
  position: absolute;
  /* color: #aaa; */
  opacity: 0.5;
  cursor: text;
}

.ProseMirror .empty-node:hover::before {
  opacity: 0.3;
}

.ProseMirror h1.empty-node::before {
  content: "Type your question here...";
}

.prosemirror-body.forum-post p {
  margin-top: 0;
  margin-bottom: 0;
  @apply text-sm;
}

.forum-post.prosemirror-body a {
  @apply text-primary-500;
}

.ProseMirror-prompt {
  position: absolute;
  z-index: 999999;
  @apply bg-white p-4 rounded shadow;
}

.forum-post.prosemirror-body h1 {
  @apply text-xl;
}

.forum-post.prosemirror-body h2 {
  @apply text-lg;
}

.forum-post.prosemirror-body h3 {
  @apply text-base;
}

.ProseMirror div.sketch-attachment {
  @apply border border-blue-500 rounded px-1 bg-blue-50;
  width: fit-content;
}

.ProseMirror button[data-attachment-id] {
  @apply bg-blue-100  inline rounded-sm px-1 py-0;
}

.ProseMirror button[data-attachment-id]:hover {
  /* @apply shadow-sm; */
  box-shadow: 0px 0px 0px 1px rgb(96, 165, 250);
}

.ProseMirror button[data-attachment-id][data-type="MapBookmark"]::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9' /%3E%3C/svg%3E%0A");
  @apply text-blue-900;
  display: inline-block;
  width: 16px;
  height: 16px;
  bottom: -3px;
  margin-left: 2px;
  position: relative;
}
.ProseMirror div[attachments] {
  display: none;
}
