@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import url("https://rsms.me/inter/inter.css"); */
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter", sans-serif;
    font-display: block;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profile-loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

.CodeMirror {
  height: auto !important;
}
