.center-ish::before {
  content: "";
  flex: 1;
  min-height: 80px;
}
.center-ish::after {
  content: "";
  flex: 3;
  min-height: 50px;
}

body.survey {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body.survey {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}
